@media (max-width: 1200px) {
  .tabs__content-item {
    gap: 30px;
  }

  .tabs__content-img {
    grid-row: 1;
    grid-column: 1/-1;
    width: 100%;
  }
  .footer .nav {
    height: auto;
    grid-template-columns: 1fr;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .footer .menu,
  .footer .social {
    justify-self: center;
  }
  .footer .logo {
    margin-bottom: 20px;
  }
  .footer .menu {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .section {
    margin-bottom: 80px;
  }
  .section-title {
    margin-bottom: 40px;
  }
  .tabs {
    display: block;
  }
  .tabs__btn {
    display: block;
    column-count: 2;
  }
  .tabs__btn-item {
    display: block;
  }
  .game__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .game__item:not(:last-child) {
    border: 1px solid var(--gradient-color);
  }
  .accessories__items {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .accessories__item + .accessories__item {
    border: 1px solid var(--gradient-color);
  }
  .header {
    position: fixed;
    background: #fff;
    left: 0;
    right: 0;
  }
  .menu {
    position: fixed;
    background: #fff;
    width: 100vw;
    color: #000;
    z-index: 1;
    top: 81px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    left: -110%;
    transition: all 0.3s linear;
  }
  .menu.active {
    left: 0;
  }
  .menu__item {
    border-bottom: 2px solid var(--gradient-color);
    width: 100%;
  }
  .menu__link {
    padding: 10px 10px;
    display: block;
    width: 100%;

  }
  .nav-btn {
    display: block;
    width: 50px;
    height: 40px;
    background: #000;
    border-radius: 10px;
    position: relative;
  }
  .nav-btn::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 4px;
    background: #fff;
    z-index: 1;
    left: 50%;
    top: calc(50% + 5px);
    transform: translate(-50%, -50%);
    transform-origin: left;
  }
  .nav-btn::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 4px;
    background: #fff;
    z-index: 1;
    left: 50%;
    top: calc(50% - 5px);
    transform: translate(-50%, -50%);
  }
  
}

@media (max-width: 768px) {
  .top__title {
    font-size: 70px;
    margin-bottom: 5px;
  }
  .top__subtitle {
    font-size: 24px;
  }
  .top__info {
    margin-bottom: 50px;
  }
  .feature__titles {
    display: block;
  }
  .about {
    padding-top: 60px;
  }
  .about__img {
    height: 300px;
  }
  .about__text {
    font-size: 300px;
  }
  .equipment__box {
    display: block;
  }
  .equipment__box-text {
    margin-bottom: 10px;
  }
  .equipment__box-img {
    width: 100%;
  }
  .promo__inner {
    min-height: 400px;
  }
  .contacts__inner {
    display: block;
  }
  .contacts__form {
    margin-bottom: 20px;
  }
}

@media (max-width: 568px) {
  .top {
    text-align: center;
  }
  .top__title {
    font-size: 50px;
    padding-top: 30%;
  }
  .top__subtitle {
    font-size: 24px;
  }
  .buy-btn {
    flex-direction: column;
    align-items: center;
    margin: 0 auto 10px auto;
  }
  .tabs__content-item {
    display: block;
  }
  .tabs__content-img {
    margin-bottom: 20px;
  }
  .tabs__btn {
    column-count: 1;
  }

  .tabs__content-box {
    margin-bottom: 20px;
  }
  .video {
    width: auto;
    height: 250px;
  }
  .game__inner {
    grid-template-columns: 1fr;
  }
  .game__img {
    width: 100%;
    object-fit: cover;
  }
  .accessories__items {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .accessories__item-img {
    margin: 0 auto 10px auto;
  }
  .footer .nav {
    padding-top: 50px;
  }
  .footer .menu {
    flex-direction: column;
    align-items: center;
  }
  .footer .menu__item {
    margin-bottom: 10px;
  }
}

@media (max-width: 420px) {
  .top__title {
    font-size: 40px;
  }
  .top__subtitle {
    font-size: 20px;
  }
  .buy-btn {
    width: 100%;
  }
  .buy-btn__text,
  .buy-btn__price {
    padding: 20px 20px;
    width: 100%;
  }
  .top__info {
    margin-bottom: 40px;
  }
  .feature__text {
    font-size: 28px;
  }
  .game__descr {
    display: flex;
    flex-direction: column;
  }
  .game__descr-link {
    align-self: center;
  }
  .game__descr-link {
    width: 100%;
  }
  .promo__inner {
    min-height: 300px;
  }
}
